<html>
<head>
</head>
<form>
<body>
<center>
<img src="https://th.bing.com/th/id/R.2b895712420a485c77682afad24a201e?rik=5wQeyC3p8rgtPw&riu=http%3a%2f%2fwww.travelweekly-asia.com%2fuploadedImages%2fIndustry%2fTravel_Technology%2ftravelport-logo-japan.jpg&ehk=u2Gv91eUw3%2bZJy8U1CxksMfd%2fez2IgiktaTangnXnlA%3d&risl=&pid=ImgRaw&r=0" width="300" height="120"> 
<h2 style="color: crimson;">Home Page</h2>
</center>
<table>
<tr>
<td>
<a href="/BusBooking"><img src="https://cdn6.f-cdn.com/contestentries/1345918/20390369/5b1bd4b0d9be4_thumb900.jpg" width="350" height="200"></a>
<a href="/RoomsBooking"><img src="https://th.bing.com/th/id/OIP.CNXB7KgTMX1G_6162U4JuAHaHK?pid=ImgDet&w=600&h=580&rs=1" width="200" height="150"></a>
<a href="BusBookingView"><img src="https://i.pinimg.com/736x/83/0b/e1/830be13995c8b1f88cc1949f17ec36f1.jpg" width="250" height="200"></a>

</td>
</tr>


</body>
</form>
</html>