<html>    
<head>    
    <title>RegisterPage</title>    
</head>  
<center>  
<body>  
 <form  method="POST" action="RegisterPage">    
<img src="https://th.bing.com/th/id/R.2b895712420a485c77682afad24a201e?rik=5wQeyC3p8rgtPw&riu=http%3a%2f%2fwww.travelweekly-asia.com%2fuploadedImages%2fIndustry%2fTravel_Technology%2ftravelport-logo-japan.jpg&ehk=u2Gv91eUw3%2bZJy8U1CxksMfd%2fez2IgiktaTangnXnlA%3d&risl=&pid=ImgRaw&r=0" width="300" height="120"> 
    <h1 style="color: crimson;">Register Page</h1> 
    <h3 style="color: red;"><a th:text=${exist}></a></h3>  
    <div class="login">    
   
        <label style="color: blue;"><b>Name     
        </b>    
        </label>    
        <input type="text" name="name"  placeholder="name">    
        <br><br>
        <label style="color: blue;"><b>Surname  
        </b>    
        </label>    
        <input type="text" name="surname" placeholder="Surname">    
        <br><br> 
        <label style="color: blue;"><b>Mobile no    
        </b>    
        </label>    
        <input type="text" name="mobile" placeholder="+91 xxxxxxxxxx">    
        <br><br>   
        <label style="color: blue;"><b>Address     
        </b>    
        </label>    
        <input type="text" name="address"  placeholder="Address">    
        <br><br>    
        <label style="color: blue;"><b>UserName     
        </b>    
        </label>    
        <input type="text" name="username" placeholder="Username">    
        <br><br>            
        <label style="color: blue;"><b>Password     
        </b>    
        </label>    
        <input type="Password" name="password"  placeholder="Password">    
        <br><br>    
        <input type="submit"  value="Register" style="color:aliceblue; background-color: green; ">     
        <input type="reset" value="Clear" style="color: aliceblue; background-color: red;">
        <br><br>    
       
          
    </form>     
</div>    
</body>  
</center>  
</html>     